$primary-color:#d31772;
$base-color:#36424B;
$yellow-color:#FFCD02;
$blue-color:#0072EF;
$aqua-color:#0ECECE;
$orange-color:#F47E28;
$dark-color:#12151d;
$green-color:#7ABD4C;

$headline-primary-font:"Poppins", sans-serif;
$headline-primary-color:$base-color;
$headline-line-height:1.47;

$base-primary-font:"Poppins", sans-serif;
$base-primary-color:$base-color;
$base-font-size:15px;
$base-line-height:1.47;